.contentArea {
  flex: 1;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contentArea {
    height: calc(100vh - 100px);
  }
}
